@page "/surahyaseen"
@using System.Globalization
@inject IStringLocalizer<SurahYaseen> Loc

<h3>@Loc["title"]</h3>

<br>
<p style="text-align:center">
    Surah Yaaseen, Ra'ad al Kurdi
    <br>
    <audio controls id="sound" src="/media/raad-mohammad-al-kurdi-muslimcentral.com-036-ya-seen-2018-03-21-07-05-10.mp3" />
</p>
<p style="text-align:center">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        بِسۡمِ ٱللَّهِ ٱلرَّحۡمَٰنِ ٱلرَّحِيمِ<br>
    </font>
</p>
<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ * يٰسۤ (ﷺ) * وَالْقُرْاٰنِ الْحَكِيْمِ * إِنَّكَ لَمِنَ الْمُرْسَلِيْنَ * عَلٰى صِرَاطٍ مُّسْتَقِيْمٍ * تَنْزِيْلَ الْعَزِيْزِ الرَّحِيْمِ * لِتُنْذِرَ قَوْمًا مَّاۤ أُنْذِرَ اٰبَاۤؤُهُمْ فَهُمْ غَافِلُوْنَ * لَقَدْ حَقَّ الْقَوْلُ عَلٰۤى أَكْثَرِهِمْ فَهُمْ لاَ يُؤْمِنُوْنَ * إِنَّا جَعَلْنَا فِۤيْ أَعْنَاقِهِمْ أَغْلاَلاً فَهِيَ إِلَى الأَذْقَانِ فَهُمْ مُّقْمَحُوْنَ * وَجَعَلْنَا مِنْ بَيْنِ أَيْدِيْهِمْ سَدًّا وَّمِنْ خَلْفِهِمْ سَدًّا فَأَغْشَيْنٰهُمْ فَهُمْ لاَ يُبْصِرُوْنَ * وَسَوَاۤءٌ عَلَيْهِمْ أَأَنْذَرْتَهُمْ أَمْ لَمْ تُنْذِرْهُمْ لاَ يُؤْمِنُوْنَ * إِنَّمَا تُنْذِرُ مَنِ اتَّبَعَ الذِّكْرَ وَخَشِيَ الرَّحْمٰنَ بِالْغَيْبِ ج فَبَشِّرْهُ بِمَغْفِرَةٍ وَّأَجْرٍ كَرِيْمٍ * إِنَّا نَحْنُ نُحْيِ الْمَوْتٰى وَنَكْتُبُ مَا قَدَّمُوْا وَاٰثَارَهُمْ ط وَكُلَّ شَيْءٍ أَحْصَيْنَاهُ فِۤيْ إِمَامٍ مُّبِيْنٍ * وَاضْرِبْ لَهُمْ مَّثَلاً أَصْحَابَ الْقَرْيَةِ م إِذْ جَاۤءَهَا الْمُرْسَلُوْنَ * إِذْ أَرْسَلْنَاۤ إِلَيْهِمُ اثْنَيْنِ فَكَذَّبُوْهُمَا فَعَزَّزْنَا بِثَالِثٍ فَقَالُوْاۤ إِنَّاۤ إِلَيْكُمْ مُّرْسَلُوْنَ *  قَالُوْا مَاۤ أَنْتُمْ إِلاَّ بَشَرٌ مِّثْلُنَا وَمَاۤ أَنْزَلَ الرَّحْمٰنُ مِنْ شَيْءٍ لا إِنْ أَنْتُمْ إِلاَّ تَكْذِبُوْنَ * قَالُوْا رَبُّنَا يَعْلَمُ إِنَّاۤ إِلَيْكُمْ لَمُرْسَلُوْنَ * وَمَا عَلَيْنَاۤ إِلاَّ الْبَلاَغُ الْمُبِيْنُ * قَالُوْاۤ إِنَّا تَطَيَّرْنَا بِكُمْ ج لَئِنْ لَّمْ تَنْتَهُوْا لَنَرْجُمَنَّكُمْ وَلَيَمَسَّنَّكُمْ مِّنَّا عَذَابٌ أَلِيْمٌ * قَالُوْا طَاۤئِرُكُمْ مَّعَكُمْ ط أَئِنْ ذُكِّرْتُمْ بَلْ أَنتُمْ قَوْمٌ مُّسْرِفُوْنَ * وَجَاۤءَ مِنْ أَقْصَا الْمَدِيْنَةِ رَجُلٌ يَّسْعٰى قَالَ يَا قَوْمِ اتَّبِعُوْا الْمُرْسَلِيْنَ * اتَّبِعُوْا مَنْ لاَّ يَسْأَلُكُمْ أَجْرًا وَّهُمْ مُّهْتَدُوْنَ * وَمَا لِيَ لاَۤ أَعْبُدُ الَّذِيْ فَطَرَنِيْ وَإِلَيْهِ تُرْجَعُوْنَ * أَأَتَّخِذُ مِنْ دُوْنِهٖۤ اٰلِهَةً إِنْ يُّرِدْنِ الرَّحْمٰنُ بِضُرٍّ لاَّ تُغْنِ عَنِّيْ شَفَاعَتُهُمْ شَيْئًا وَّلاَ يُنْقِذُوْنِ * إِنِّيْۤ إِذًا لَّفِيْ ضَلاَلٍ مُّبِيْنٍ * إِنِّيْۤ اٰمَنْتُ بِرَبِّكُمْ فَاسْمَعُوْنِ * قِيْلَ ادْخُلِ الْجَنَّةَ ط قَالَ يَا لَيْتَ قَوْمِيْ يَعْلَمُوْنَ * بِمَا غَفَرَ لِيْ رَبِّيْ وَجَعَلَنِيْ مِنَ الْمُكْرَمِيْنَ * وَمَاۤ أَنْزَلْنَا عَلٰى قَوْمِهٖ مِنْ بَعْدِهٖ مِنْ جُنْدٍ مِّنَ السَّمَاۤءِ وَمَا كُنَّا مُنْزِلِيْنَ * إِنْ كَانَتْ إِلاَّ صَيْحَةً وَّاحِدَةً فَإِذَا هُمْ خَامِدُوْنَ *  يَا حَسْرَةً عَلَى الْعِبَادِ ج مَا يَأْتِيْهِمْ مِّنْ رَّسُوْلٍ إِلاَّ كَانُوْا بِهٖ يَسْتَهْزِئُوْنَ * أَلَمْ يَرَوْا كَمْ أَهْلَكْنَا قَبْلَهُمْ مِّن الْقُرُوْنِ أَنَّهُمْ إِلَيْهِمْ لاَ يَرْجِعُوْنَ * وَإِنْ كُلٌّ لَّمَّا جَمِيْعٌ لَّدَيْنَا مُحْضَرُوْنَ * وَاٰيَةٌ لَّهُمُ الْأَرْضُ الْمَيْتَةُ ج أَحْيَيْنَاهَا وَأَخْرَجْنَا مِنْهَا حَبًّا فَمِنْهُ يَأْكُلُوْنَ * وَجَعَلْنَا فِيْهَا جَنَّاتٍ مِنْ نَّخِيْلٍ وَّأَعْنَابٍ وَّفَجَّرْنَا فِيْهَا مِنَ الْعُيُوْنِ * لِيَأْكُلُوْا مِنْ ثَمَرِهٖ لا وَمَا عَمِلَتْهُ أَيْدِيْهِمْ ط أَفَلاَ يَشْكُرُوْنَ * سُبْحَانَ الَّذِيْ خَلَقَ الْأَزْوَاجَ كُلَّهَا مِمَّا تُنْبِتُ الْأَرْضُ وَمِنْ أَنْفُسِهِمْ وَمِمَّا لاَ يَعْلَمُوْنَ * وَاٰيَةٌ لَّهُمْ اللَّيْلُ ج نَسْلَخُ مِنْهُ النَّهَارَ فَإِذَا هُمْ مُّظْلِمُوْنَ * وَالشَّمْسُ تَجْرِيْ لِمُسْتَقَرٍّ لَّهَا ط ذٰلِكَ تَقْدِيْرُ الْعَزِيْزِ الْعَلِيْمِ * وَالْقَمَرَ قَدَّرْنَاهُ مَنَازِلَ حَتّٰى عَادَ كَالْعُرْجُوْنِ الْقَدِيْمِ * لاَ الشَّمْسُ يَنْبَغِيْ لَهَۤا أَنْ تُدْرِكَ الْقَمَرَ وَلاَ اللَّيْلُ سَابِقُ النَّهَارِ ط وَكُلٌّ فِيْ فَلَكٍ يَّسْبَحُوْنَ * وَاٰيَةٌ لَّهُمْ أَنَّا حَمَلْنَا ذُرِّيَّتَهُمْ فِي الْفُلْكِ الْمَشْحُوْنِ * وَخَلَقْنَا لَهُمْ مِّنْ مِّثْلِهٖ مَا يَرْكَبُوْنَ * وَإِنْ نَّشَأْ نُغْرِقْهُمْ فَلاَ صَرِيْخَ لَهُمْ وَلاَ هُمْ يُنْقَذُوْنَ * إِلاَّ رَحْمَةً مِّنَّا وَمَتَاعًا إِلٰى حِيْنٍ * وَإِذَا قِيْلَ لَهُمُ اتَّقُوْا مَا بَيْنَ أَيْدِيْكُمْ وَمَا خَلْفَكُمْ لَعَلَّكُمْ تُرْحَمُوْنَ * وَمَا تَأْتِيْهِمْ مِّنْ اٰيَةٍ مِّنْ اٰيٰتِ رَبِّهِمْ إِلاَّ كَانُوْا عَنْهَا مُعْرِضِيْنَ * وَإِذَا قِيْلَ لَهُمْ أَنْفِقُوْا مِمَّا رَزَقَكُمُ اللّٰهُ لا  قَالَ الَّذِيْنَ كَفَرُوْا لِلَّذِيْنَ اٰمَنُوْاۤ أَنُطْعِمُ مَنْ لَّوْ يَشَاۤءُ اللّٰهُ أَطْعَمَهٗۤ ق إِنْ أَنتُمْ إِلاَّ فِيْ ضَلاَلٍ مُّبِيْنٍ * وَيَقُوْلُوْنَ مَتٰى هٰذَا الْوَعْدُ إِنْ كُنْتُمْ صَادِقِيْنَ *
    </font>
</p>
<hr />
<p>
    @Loc["english"]
</p>