@page "/forgiveness100"
@using System.Globalization
@inject IStringLocalizer<Forgiveness100> Loc

<h4>@Loc["Forgiveness"]</h4>


<h6>@Loc["s0"]</h6>

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَسْتَغْفِرُ اللّٰهَ
    </font>
</p>
<p>
    @Loc["s3"]
</p>
<p>
    @Loc["s4"]
</p>



