@page "/shahadah"
@using System.Globalization
@inject IStringLocalizer<Shahadah> Loc

<h4>@Loc["Shahadah"]</h4>

<h6>@Loc["s0"]</h6>

<p style="text-align:right">
    <font style="font-family: Conv_original-hafs;font-size:2.2em;text-align:justify;">
        أَشْهَدُ أَنْ لَا إِلَٰهَ إِلَّا ٱللَّٰهُ وَأَشْهَدُ أَنَّ مُحَمَّدًا رَسُولُ ٱللَّٰهِ
    </font>
</p>
<p>
    @Loc["s3"]
</p>
<p>
    @Loc["s4"]
</p>



